<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Select Role</ion-label>
      <ion-select [(ngModel)]="role">
        <ion-option value="Employee">Employee</ion-option>
        <ion-option value="Supervisor" *ngIf="supervisor">Supervisor</ion-option>
        <ion-option value="Admin" *ngIf="admin">Admin</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPass"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="register()">Register</button>
</ion-content>