<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center">
  <img src="assets/imgs/logo.jpeg">
  <ion-row style="text-align: center">
    <ion-col class="col-xs-6" *ngIf="showNew">
      <div (click)="new()" class="block" style="border-color: blue !important;">
        New
      </div>
    </ion-col>
    <ion-col class="col-xs-6" *ngIf="showPending">
      <div (click)="update()" class="block" style="border-color: yellow !important;">
        Pending
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col-xs-6" *ngIf="showAccepted">
      <div (click)="accepted()" class="block" style="border-color: green !important;">
        Accepted
      </div>
    </ion-col>
    <ion-col class="col-xs-6" *ngIf="showRejected">
      <div (click)="rejected()" class="block" style="border-color: red !important;">
        Rejected
      </div>
    </ion-col>
  </ion-row>
</ion-content>